@model JH_Banking.Models.UserAccount

@{
    ViewBag.Title = "Login";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <img src="~/img/logo.jpg" alt="Logo" class="img-responsive" />
    <h1 class="text-primary">Login to Internet Banking</h1>
    <div class="col-md-8">
        <div class="well">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" },labelText: "Username")
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        </div>
        <div class="well">
            <em class="alert-warning">Upozornění na podvodné emaily </em>
            <p class="text-center">Společnost JH bank nikdy neposílá odkaz do internetového bankovnictví prostřednictvím e-mailu.</p>
            <p class="text-center">V případě obdržení takového e-mailu vás žádáme, abyste na něj nereagovali, případně jej smazali. Zabezpečené připojení je možné si ověřit zobrazením certifikátu.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div id="imageCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#imageCarousel" data-slide-to="0"></li>
                <li data-target="#imageCarousel" data-slide-to="1"></li>
                <li data-target="#imageCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/people1.jpg" class="img-responsive" alt="Lidé" />
                </div>
                <div class="item">
                    <img src="~/img/people2.jpg" class="img-responsive" alt="Lidé" />
                </div>
                <div class="item">
                    <img src="~/img/people3.jpg" class="img-responsive" alt="Lidé" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr>
        <h2 class="text-info">Novinky</h2>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <hr>
    </div>


</div>
