@model IEnumerable<JH_Banking.Models.Template>

@{
    ViewBag.Title = "Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Templates</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Template Name")
        </th>
        <th>
            @Html.DisplayName("Account Number")
        </th>
        <th>
            @Html.DisplayName("To Account Number")
        </th>
        <th>
            @Html.DisplayName("Bank Code")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestAccNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestBankCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TempId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TempId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TempId })
        </td>
    </tr>
}

</table>
